<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%X{applicationName} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="kvstore"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/kvstore.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/kvstore.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<totalSizeCap>500MB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%X{applicationName} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.kv" additivity="false" level="INFO">
		<appender-ref ref="kvstore" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.hibernate" level="INFO" />
	<root level="INFO">
		<appender-ref ref="kvstore" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>